OPENAI_API_KEY=Get from https://platform.openai.com/api-keys

TAVILY_API_KEY=Get from https://app.tavily.com/home


CHATWOOT_BASE_URL=PERSONAL INSTANCE URL
CHATWOOT_ACCESS_TOKEN=BOT ACCESS TOKEN

DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/database_name